p span{
    background-color: black;
    color: white;
    font-size: 20px;
}
.bg1{
    margin-top: 200px;
    background-color: white;
    border-radius: 20px;
    font-size: 15px;
    height: 188px;
    max-width:auto;
}
img{
    max-width: 100%;
}
.mt{
    color:lightskyblue;
    max-width:181px;
}
.ht{
    color:deeppink;
    max-width:181px;
}
.bt{
    color:green;
    max-width:181px;
}
.box1 .te{
    display: inline-block;
    margin-top: 200px;
    position: relative;
    margin-bottom: 50px;
}
.content{
    position: absolute;
    right:0px;
    bottom:0px;
    max-width: 100%;
}
@media only screen and (min-width:900px){
    .box1 .content {
        max-width: 0px;
    }
}

.box1{
    padding-top:350px;
}
.box1,.box2,.box3{
    padding-bottom:200px;
}
.logo2{
    display:none;
}
@media only screen and (min-width:900px){
    .logo2{
        display:block;
    }
}
.logo1{
    display:block;
}
@media only screen and (min-width:900px){
    .logo1{
        display:none;
    }
}

